@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

.container {
	width: 80%;
	margin: auto;
	text-align: center;
	padding: 100px 0;
}

h1 {
	font-size: 3rem;
	margin-bottom: 20px;
}

p {
	font-size: 1.5rem;
}
